DATABASE_URL="postgresql://postgres:password@localhost:5432/acheinovale"
DATABASE_URL_NON_POOLING="postgresql://postgres:password@localhost:5432/acheinovale"
AUTH_SECRET="change-me"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
